@page 
@{
    ViewData["Title"] = "Hakkinda";
    ViewData["isActiveAbout"] = "active";
    
}
@section Styles{
    <link rel="stylesheet" href="~/css/Hakkinda.css" asp-append-version="true" />
}
    <!-- MAİN CONTENT START -->
    <div class="container d-flex flex-column p-0">
      <section
        class="u-align-left u-clearfix u-container-align-left u-section-1"
        id="carousel_7840"
      >
        <div
          class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1"
        >
          <div
            class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1"
          >
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="col wow animate__animated animate__fadeInLeft">
                  <div
                    class="u-align-left-md u-align-left-sm u-align-left-xs rounded-4 u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-1"
                  >
                    <div
                      class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-container-layout-1"
                    >
                      <h1  class="u-text u-text-palette-3-base u-text-1">
                        Yapımcı Hakkında
                      </h1>
                    </div>
                  </div>
                </div>

                <div data-wow-delay="0.4s" class="col wow animate__animated animate__fadeInRight">
                  <div
                    class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2"
                  >
                    <div class="u-container-layout u-container-layout-2">
                      <p class="u-text u-text-2">
                        Merhaba Sayın Ziyaretçi, 
                        <br>
                        ben Mustafa İlker Kamış. Bilgisayar Mühendisliği bölümünü birincilikle tamamladım ve birçok alanda çeşitli projelerde yer aldım. Yapay zeka, makine öğrenmesi, web geliştirme, görüntü işleme, mobil ve masaüstü uygulamalar gibi farklı teknolojilerle çalışma fırsatım oldu.
                      <br>
Bir bilgisayar mühendisinin en önemli özelliklerinden birinin problem çözme becerisi olduğunu düşünüyorum ve bu yeteneğimi sürekli geliştirmeye çalışıyorum. Merakım ve araştırma hevesim sayesinde, teknoloji ve yazılım dünyasının herhangi bir alanına bağlı kalmadan farklı projelere yenilikçi çözümler getirdim.
<br>
Projelerimde yalnızca sorunları çözmekle kalmayıp, her zaman yeni ve özgün değerler katmayı hedefledim. İyi bir araştırmacı olmak, kodları analiz edebilmek, yaratıcı ve yenilikçi düşünebilmek, bir mühendisin farkını ortaya koyan temel özelliklerdir.
<br>
Bu site, projelerim ve çalışmalarım hakkında daha fazla bilgi edinmeniz için oluşturuldu. Teknolojiye olan tutkum ve sürekli öğrenme arzum ile her geçen gün kendimi daha da geliştirmeye çalışıyorum.
                      </p>
                      <a href="javascript:history.back()">
                       <span class="fs-5 btn-default  badge rounded-pill text-bg-warning gap-2 " style="float: right"> Geri Dön</span>

                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- MAİN CONTENT END -->